.app{
    background-color: #101010;
}
.app__container{
    padding-top: 20px;
    margin: auto;
    display: flex;
}
.app__container__left{
    width: 100%;
}
.app__container__right{
    width: 25%;
}
.app__container__right{
    display: none;
}

@media only screen and (min-width: 768px){
    .app__container{
        max-width: max-content;
    }
}

@media only screen and (min-width: 850px){
    .app__container{
        max-width: 800px;
    }
}

@media only screen and (min-width: 990px){
    .app__container{
        max-width: 900px;
    }
}

@media only screen and (min-width: 1200px){
    .app__container__right{
        display: block;
    }
    .app__container__left{
        margin-right: 1%;
        width: 75%;
    }
    .app__container{
        max-width: 1170px;
    }
    
}
@media only screen and (min-width: 1400px){
    .app__container{
        max-width: 1340px;
    }
}

